body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.info-page {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #2ECC71;
}

.icon-types {
  list-style-type: none;
}

.info-page .icon-types li a {
  font-size: 18px;
}

.icon-types li {
  display: inline;
  padding-right: 20px;
  color: white;  
}

.icon-types li a {
  color: white;
}

.navbar-nav li a {
  color: black;
  font-size: 18px;
}

.navbar .navbar-brand {
  font-size: 18px;
}

.navbar-nav li button {
  font-size: 18px;
}

.btn {
  background-color: #2ECC71; 
  color: white;
}

h4{
  font-size: 2.5rem;
}

.navbar .navbar-expand-lg{
  margin-top: 15px;
} 

 .carousel-indicators .active {
  width: 13px;
  height: 13px;
  margin: 0;
  background-color: #2ecc71;
} 

.item{
  width: 100%;
  height: auto;
  /* opacity: 0.4;  */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
}


.btn_1 {
  left: 0;
  text-align:center;
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-size: 50px;
  margin-left: 30px;
}

.text button {
  position: absolute;
}

.col-lg-6 img {
  width: 500px;
  height: 400px;
}

.caro_container .text_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* bottom: 0; */
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.row {
  margin-top: 30px;
}

p {
  font-size: small;
}

.flex-container {
  display: flex;
  
}

.flex-container > div {
  background-color: transparent;
  border: black 1px solid;
  margin-left: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 30px;
  justify-content: center;
}

.justify-content-center {
  display: flex;
}

.cont1 .card {
  border: rgba(46, 204, 113, 1) 2px solid !important;
  background-color: transparent !important;
}

.cont .cont1 {
  position: absolute;
  bottom: 25%;
  left: 25%; 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  border:  rgba(46, 204, 113, 1) 2px solid !important;
  width: 50%;
  padding: 20px;
  display: inline;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.btn1 {
  border-color: white;
  background-color: transparent;
}

.content .card-deck {
  position: absolute;
  bottom: 40%;
  left: 1.5%;
  color: #f1f1f1;
  background: rgba(0, 0, 0, 0.5); 
  width: 98.5%;
  padding: 20px;
}


.card-deck .card {
  background-color: transparent !important;
  border: white 2px solid !important;
}

@media (min-width: 0) {
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
  }
}
@media (min-width: 576px) {
  .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 768px) {
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}
@media (min-width: 992px) {
  .card-deck .card {
    flex: 0 0 calc(25% - 30px);
  }
}
@media (min-width: 1200px) {
  .card-deck .card {
    flex: 0 0 calc(20% - 30px);
  }
}

.chef_spec {
  height: 250px;
  width: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.card-footer {
  background-color: transparent !important;
}


.txt_col {
  color: white;
}

hr {
  border: 2px !important;
  border-bottom-style: dotted !important;
  border-bottom-color: #f1f1f1;
}

.parallax {
  height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* @media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
} */