body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ul_1 {
  float: left;
}

.ul_2 {
  float: right;
}

@media (max-width:991px) {
  .ul_1 {
    float: none;
  }
  
  .ul_2 {
    float: none;
  }
  .chef{
    height: 0px !important;
  }
}

@media (max-width:1111px) {
  .chef{
    width: 400px !important;
  }
}

.info-page {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #2ECC71;
}

.icon-types {
  list-style-type: none;
  margin-top: 15px;
}

.info-page .icon-types li a {
  font-size: 18px;
}

.carousel-caption .btn {
  font-size: 17px;
}

.icon-types li {
  display: inline;
  padding-right: 20px;
  color: white;  
}

.icon-types li a {
  color: white;
}

@media (max-width: 400px) {
  .info-page .icon-types li a {
    font-size: 10px;
  }
}

.navbar {
  flex-direction: row !important;
}

.navbar-toggler-icon {
  color: black !important;
}

.navbar-nav li a {
  color: black;
  font-size: 18px;
}

.navbar-nav li a:hover {
  color: #2ECC71;
}

.navbar-nav li a:after {
  color: #2ECC71;
}

.navbar .navbar-brand {
  font-size: 18px;
}

.navbar-nav li button {
  font-size: 18px;
}

.navbar-nav li {
  margin-left: 30px;
}

.navbar-brand {
  padding: 0px !important;
  float: left !important;
}

@media (max-width:1140px) {
  .navbar-nav li a{
    font-size: 12px;
  }
  .navbar .navbar-header .font_fam{
    font-size: 18px !important;
  }
  .navbar .navbar-header {
    margin-top: 20px;
  }
  .navbar-nav li button{
    font-size: 12px;
  }


}

.btn {
  background-color: #2ECC71; 
  color: white;
  margin-top: 10px;
}

.font_fam{
  font-family: 'Playball', cursive;
  font-size: 30px !important;
  font-style: bold;
}

.navbar .navbar-expand-lg{
  margin-top: 15px;
} 

 .carousel-indicators .active {
  width: 13px;
  height: 13px;
  margin: 0;
  background-color: #2ecc71;
} 

.item{
  width: 100%;
  height: auto;
  /* opacity: 0.4;  */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
}


.btn_1 {
  left: 0;
  text-align:center;
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;
  margin-left: 10px;
  height: 40px;
  width: 100px;
}

.text button {
  position: absolute;
}

.col-lg-6 img {
  width: 500px;
  height: 400px;
}

.caro_container .carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #f1f1f1;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.row {
  margin-top: 30px;
}

p {
  font-size: small;
}

.flex-container {
  display: flex;
  
}

.flex-container > div {
  background-color: transparent;
  border: black 1px solid;
  margin-left: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 30px;
  justify-content: center;
}

.justify-content-center {
  display: flex;
}

.cont {
  width: 100%;
  height: 500px;
}

.cont1 .card {
  border: rgba(46, 204, 113, 1) 2px solid !important;
  background-color: transparent !important;
}

.cont .cont1 {
  /* position: absolute;  */
  /* bottom: 25%;
  left: 25%;  */
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  border:  rgba(46, 204, 113, 1) 2px solid !important;
  width: 50%;
  padding: 20px;
  transform: translate(0%, 10%);
  webkit-transform: translate(0%, 10%);
}


.btn1 {
  border-color: white;
  background-color: transparent !important;
}

.content {
  width: 100%;
  height: 400px;
}

.content .card-deck {

  color: #f1f1f1;
  background: rgba(0, 0, 0, 0.5); 
  width: 100%;
  padding: 20px;
  transform: translate(0%, 50%);
  webkit-transform: translate(0%, 50%);
}

@media (max-width: 748px) {
  .content .card-deck {
    transform: translate(0%, 17%);
    webkit-transform: translate(0%, 17%);
  }

  .content{ 
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 575px) {
  .content .card-deck {
    transform: translate(0%, 8%);
    webkit-transform: translate(0%, 8%);
  }

  .content{ 
    width: 100%;
    height: 850px;
  }
}

.card-deck .card {
  display: flex;
  flex: 1 0 !important;
  flex-direction: column;
}

.card-deck .card1 {
  background-color: transparent !important;
  border: white 2px solid !important;
  background: rgba(0, 0, 0, 0.5);
}

.chef_spec {
  height: 250px;
  width: 100px;
}

@media (max-width:600px){
  .chef_spec {
    height: 175px;
    width: 75px;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.card-footer {
  background-color: transparent !important;
}


.txt_col {
  color: white;
}

hr {
  border: 2px !important;
  border-bottom-style: dotted !important;
  border-bottom-color: #f1f1f1;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: rgba(46, 204, 113, 1) !important;
}

.text_carousel .slick-dots li button:before{
  color: white;
}

.text_carousel {
  width: 100%;
  height: 500px;
}

.text_container .actual_content {
  color: #f1f1f1;
  text-align: center; 
  width: 100%;
  padding: 20px;
}

@media (max-width: 700px) {
  .carousel-caption h1{
    font-size: 15px;
  }

  .carousel-caption h3{
    font-size: 12px;
  }
}

@media (max-width: 490px) {
  .carousel-caption h1{
    font-size: 10px;
  }

  .carousel-caption h3{
    font-size: 7px;
  }

  .carousel-caption button{
    height: 20px;
    width: 50px;
    font-size: 7px;
  }
}

@media (max-width: 410px) {
  .carousel-caption button{
    display: none;
  }
}

@media (max-width: 700px) {
   .img_align{
    float: none !important;
  }
  
  .menu2 h5{
    float: right;
  }

  .menu h4{
    float: none;
  } 
}



 .card-img-top{
  height: 276px;
  width: 346px;
  }  


@media (max-width:767px) {
  .disappear_content{
    color: transparent !important;
  }
}

@media (max-width:575px) {
  .disappear_content{
    color: black !important;
  }
}

.sticky1 {
  position: -webkit-fixed !important;
  position: fixed !important;
  top: 90px;
  padding: 0px;
  z-index: 1;
  width: 100%;
  background-color: white;
  justify-content: center; 
}


.under_line {
  border-bottom: #2ECC71;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-width: 2px;
  border-style: solid;
}

.under_line_white {
  border-bottom: white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-width: 2px;
  border-style: solid;
}

.inverted_comma {
  color: white;
  font-size: 90px !important;
}

.card1 {
  padding: 10px;
  border: 0px !important;
}

.card {
  border: 0px !important;
}

.card-footer {
  border-top: 1px dotted !important;
}

@media (max-width: 1533px) {
  .cont{
    height: 750px;
  }
  .h5_create{ 
    margin-top: 13px;
  }
  
  .hr_margin {
    margin-top: -6px !important;
    margin-left: 0px !important;
  }
  
  .h5_menu {
    margin-top: 7px;
  }

  .img_align {
    float: none !important;
    justify-content: center !important  ;
  }

  .h5_price {
    margin-top: -40px !important;
    font-size: 17px;
  }
}


@media (max-width: 991px) {
  .cont {
    height: 1275px;
  }

  .h3_1 {
    margin-top: 39px;
    margin-bottom: 0px;
  }

  .h3_2 {
    margin-bottom: 13px !important;
  }
}


@media (max-width: 1330px) {
  .img_align {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
  }
}


@media (max-width: 748px) {
  .cont .cont1 {
    transform: translate(0%, 0%);
    webkit-transform: translate(0%, 0%);
  }

  .cont{ 
    width: 100%;
    height: 1270px;
  }
}

@media (max-width: 1450px) {
  .cont .cont1 {
    transform: translate(0%, 0%);
    webkit-transform: translate(0%, 0%);
  }
}

@media (max-width: 550px) {
  .cont {
    height: 1330px;
  }
}

@media (max-width: 504px) {
  .cont {
    height: 1375px;
  }
}

@media (max-width: 402px) {
  .cont {
    height: 1410px;
  }

  .h5_price {
    font-size: 15px;
  }
}

@media (max-width: 391px) {
  .cont {
    height: 1590px;
  }

  .h5_price {
    font-size: 13px;
  }
}

@media (max-width: 357px) {
  .cont {
    height: 1550px;
  }

  .h5_price {
    font-size: 10px;
  }
}

.is-active {
  color: #2ECC71 !important;
}


.appear {
  display: none;
}

@media (max-width: 991px) {
  .appear{
    display: inline;
    float: right;
  }

  .disappear {
    display: none;
  }
}