body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ul_1 {
  float: left;
}

.ul_2 {
  float: right;
}

@media (max-width:990px) {
  .ul_1 {
    float: none;
  }
  
  .ul_2 {
    float: none;
  }
  .chef{
    height: 0px !important;
  }
}

.info-page {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #2ECC71;
}

.icon-types {
  list-style-type: none;
  margin-top: 15px;
}

.info-page .icon-types li a {
  font-size: 18px;
}

.icon-types li {
  display: inline;
  padding-right: 20px;
  color: white;  
}

.icon-types li a {
  color: white;
}

.navbar {
  flex-direction: row !important;
}


.navbar-nav li a {
  color: black;
  font-size: 18px;
}

.navbar-nav li a:hover {
  color: #2ECC71;
}

.navbar-nav li a:active {
  color: #2ECC71;
}

.navbar .navbar-brand {
  font-size: 18px;
}

.navbar-nav li button {
  font-size: 18px;
}

.navbar-nav li {
  margin-left: 30px;
}

.btn {
  background-color: #2ECC71; 
  color: white;
  margin-top: 10px;
}

.font_fam{
  font-family: 'Playball', cursive;
  font-size: 30px !important;
  font-style: bold;
}

.navbar .navbar-expand-lg{
  margin-top: 15px;
} 

 .carousel-indicators .active {
  width: 13px;
  height: 13px;
  margin: 0;
  background-color: #2ecc71;
} 

.item{
  width: 100%;
  height: auto;
  /* opacity: 0.4;  */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
}


.btn_1 {
  left: 0;
  text-align:center;
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;
  margin-left: 30px;

}

.text button {
  position: absolute;
}

.col-lg-6 img {
  width: 500px;
  height: 400px;
}

.caro_container .text_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* bottom: 0; */
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.row {
  margin-top: 30px;
}

p {
  font-size: small;
}

.flex-container {
  display: flex;
  
}

.flex-container > div {
  background-color: transparent;
  border: black 1px solid;
  margin-left: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 30px;
  justify-content: center;
}

.justify-content-center {
  display: flex;
}

.cont {
  width: 100%;
  height: 500px;
}

.cont1 .card {
  border: rgba(46, 204, 113, 1) 2px solid !important;
  background-color: transparent !important;
}

.cont .cont1 {
  /* position: absolute;  */
  /* bottom: 25%;
  left: 25%;  */
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  border:  rgba(46, 204, 113, 1) 2px solid !important;
  width: 50%;
  padding: 20px;
  transform: translate(0%, 10%);
  webkit-transform: translate(0%, 10%);
}

@media (max-width: 748px) {
  .cont .cont1 {
    transform: translate(0%, 0%);
    webkit-transform: translate(0%, 0%);
  }

  .cont{ 
    width: 100%;
    height: 1350px;
  }
}

@media (max-width: 1450px) {
  .cont .cont1 {
    transform: translate(0%, 0%);
    webkit-transform: translate(0%, 0%);
  }
}

@media (max-width: 1155px){
  .cont{
    height: 550px;
  }
}

@media (max-width: 991px){
  .cont{
    height: 800px;
  }
}

@media (max-width: 681px){
  .cont{
    height: 870px;
  }
}

@media (max-width: 564px){
  .cont{
    height: 968px;
  }
}

@media (max-width: 454px){
  .cont{
    height: 1200px;
  }
}

@media (max-width: 409px){
  .cont{
    height: 1250px;
  }
}

@media (max-width: 405px){
  .cont{
    height: 1350px;
  }
}

@media (max-width: 371px){
  .cont{
    height: 1500px;
  }
}

.btn1 {
  border-color: white;
  background-color: transparent !important;
}

.content {
  width: 100%;
  height: 400px;
}

.content .card-deck {

  color: #f1f1f1;
  background: rgba(0, 0, 0, 0.5); 
  width: 100%;
  padding: 20px;
  transform: translate(0%, 50%);
  webkit-transform: translate(0%, 50%);
}

@media (max-width: 748px) {
  .content .card-deck {
    transform: translate(0%, 0%);
    webkit-transform: translate(0%, 0%);
  }

  .content{ 
    width: 100%;
    height: 700px;
  }
}
.card-deck .card {
  background-color: transparent !important;
  border: white 2px solid !important;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex: 1 0;
  flex-direction: column;
}

@media (max-width: 748px)
.content .card-deck {
    -webkit-transform: translate(0);
    transform: translate(2%,17%);
    webkit-transform: translate(0);
}

@media (min-width: 0) {
  .card-deck .card {
    flex: 0 0 calc(100% - 30px);
  }
}
@media (min-width: 576px) {
  .card-deck .card {
    flex: 0 0 calc(50% - 30px);
  }
}
@media (min-width: 768px) {
  .card-deck .card {
    flex: 0 0 calc(33.3333333333% - 30px);
  }
}
@media (min-width: 992px) {
  .card-deck .card {
    flex: 0 0 calc(25% - 30px);
  }
}
@media (min-width: 1200px) {
  .card-deck .card {
    flex: 0 0 calc(20% - 30px);
  }
}

.chef_spec {
  height: 250px;
  width: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.card-footer {
  background-color: transparent !important;
}


.txt_col {
  color: white;
}

hr {
  border: 2px !important;
  border-bottom-style: dotted !important;
  border-bottom-color: #f1f1f1;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: rgba(46, 204, 113, 1) !important;
}

.text_carousel .slick-dots li button:before{
  color: white;
}

.text_carousel {
  width: 100%;
  height: 500px;
}

.text_container .actual_content {
  color: #f1f1f1;
  text-align: center; 
  width: 100%;
  padding: 20px;
}

@media (max-width: 700px) {
  .carousel-caption h1{
    font-size: 15px;
  }

  .carousel-caption h3{
    font-size: 12px;
  }

  /* .carousel-caption button{
    height: 15px;
    width: 30px;
    font-size: 8px;
  } */
}

@media (max-width: 700px) {
  .menu2 img{
    float: left;
  }
  
  .menu2 h5{
    float: right;
  }

  .menu h4{
    float: none;
  } 
}